<!--
*********************************************************************************************
* File: footer.html
* Author: Madhurima Rawat
* Date: January 14, 2026
* Description: Reusable footer component with contact details, copyright,
*              and social media icons (if applicable).
* Version: 1.0
* GitHub Repository: https://github.com/madhurimarawat/Portfolio-Website
* Comments: Marks the end of the page and provides useful contact links. 🔚
*********************************************************************************************
-->

<footer class="footer-section">
    &copy; 2024-26 Madhurima Rawat. All rights reserved.
</footer>